#display-state
	.system-info
		label.ip-address
			.name IP Address
			.val
		label.device-name
			.name Device Name
			input(type='text')
		button.update-remote Update Remote Address
	canvas.jacket-state