#display-state
	.system-info
		label.ip-address
			.name IP Address
			.val
		label.device-id
			.name Device Name
			.val
		label
			button.button-0.update-remote Update Remote Address
	img.jacket-state(src="assets/images/jacket.svg")