doctype html
html
	head
		title The Oracle of North America Privacy Policy
	body
		h1 Privacy Policy

		p All data processed for The Oracle of North America, through the Google Actions API or otherwise, may be retained and distributed to third party partners, at our discretion.
